html
{
    scroll-behavior: smooth;
}
.btn
{
background-color:red;
}

/* social media bar */
.icons
{
   
    position: fixed;
    top: 42%;
    right:0%;
    width: 250px;
    display:flex;
    flex-direction: column;
}
.icons a
{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 22px;
    font-family: "oswald",sans-serif;
    margin: 2px;
    text-align: left;
   border-radius: 50px 0px 0px 50px;
   transform: translate(180px,0px) ;
   transition: all 0.5s;
}
.icons a:hover{
    transform: translate(0px,0px);
}
.icons a i
{
    margin-right: 25px;
   background-color: white;
   color: black;
   line-height: 40px;
    height: 40px;
    width: 40px;
   text-align: center;
   border-radius: 50%;
   transition: all 0.5s;
}
.icons a:hover i
{
    transform: rotateX(360deg);
}
.icons a i.fa-facebook-f
{
    color: #3b5998;
 
} 
.icons a i.fa-instagram
{
    color: #C13584;
 
} 
.icons a i.fa-whatsapp
{
    color: #4FCE5D
 
} 
.icons a i.fa-youtube
{
    color:	#FF0000;
 
} 
.icons a i.fa-twitter
{
    color: #00acee;
 
} 
.facebook
{
    background-color: #3b5998;
    color: white;
}

.instagram
{
    background-color:#C13584;
    color: white;
}
.whatsapp
{
    background-color:#4FCE5D;
    color: white;
}
.youtube
{
    background-color:	#FF0000;
    color: white;
}
.twitter
{
    background-color: #00acee;
    color: white;
}
/* social media bar end */
#crs
{
    text-align: center;
}
.jumbotron.jumbotron-fluid
{
    background: none;
}
h1
{
    font-size: 2rem;
}
.sectionlight
{
    background-color: #eceeef;
    padding: 2rem;
    width: 100%;
}
.sectiondark
{
    background-color:#cccccc;
    padding: 2rem;
} 
.img-fluid.logo
{
    width: 70%;
    border-radius: 50%;
    /* box-shadow: 2px 2px 5px rgba(0, 0,0, 0.5); */
}
.slide
{
    width: 95%;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px rgba(0, 0,0, 0.5); */
}
.MAILUS
{
    margin-top: 20px;
}
button.mailusbn
{
    background-color: red;
    display: block;
    color: #ffffff;
    margin: auto;
}
#mail
{
    text-decoration: none;
    color: #ffffff;
}
.img-center
{
    display: block;
    margin: auto;
}
.btn-center
{
    background-color: red;
    display: block;
    color: #ffffff;
    margin: auto;
    margin-top: 15PX;
    margin-bottom: 20px;
    width:85%;
    opacity: 0.8;
}
.UMESH
{
    width: 125%;
}
.img-fluid.log
{
    border-radius: 50%;
    
}
.footer
{
    background-color:  #343a40;
    color: #ffffff;
}
.mylist
{
    list-style: none;
}



























